# Link direto do streaming Icecast, Shoutcast, AzuraCast, Zeno.FM etc.
NEXT_PUBLIC_STREAM_URL=

# Links opcionais
NEXT_PUBLIC_DISCORD_URL=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_YOUTUBE_URL=
NEXT_PUBLIC_REQUEST_URL=

# Textos opcionais do player
NEXT_PUBLIC_NOW_PLAYING=Rotas America FM
NEXT_PUBLIC_NOW_ARTIST=A trilha sonora da sua estrada
